.title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  float: none;
}

/* =Portfolio
-------------------------------------------------------------- */
#portfolio {
  background-color: #f6f6f6;
  padding-bottom: 0;
}

#filters {
  padding: 0;
  margin: 0 auto;
  float: none;
  list-style: none;
  text-align: center;
}

#filters li {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  color: #fff;
	font-size: 12px;
  font-weight: 300;
	padding: 2px 20px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#filters li:hover, #filters li.active {
  background-color: #6F6F6F;
  color: #fff;
}

#portfolio-grid {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

#portfolio-grid:before, #portfolio-grid:after {
  content: " ";
  display: table;
}

#portfolio-grid:after {
  clear: both;
}

#portfolio-grid li {
  width: 25%;
  float: left;
  display: none;
  opacity: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#portfolio-grid li:hover .project-overlay {
  opacity: 1;
}

#portfolio-grid li img {
  width: 100%;
  
  
}
#portfolio-grid li:hover img{
	-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-ms-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
  transition: 1s ease;
}

.project-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: 1s ease;
  padding: 25% 20px;
  color: #fff;
  text-align: center;
}
.project-overlay h3{
color: #FFFFFF;
margin: 0;
font-size: 17px;
text-transform: uppercase;
padding: 0 10px;
}

/* =Media queries
-------------------------------------------------------------- */




@media (max-width: 991px) {
  #portfolio-grid li {
    width: 50%;
  }

 
}




@media (max-width: 479px) {
  #portfolio-grid li {
    width: 100%;
  }
  

}


